.App {
  width: 320px;
  height: 640px;
  background-color: white;

  * {
    box-sizing: border-box;
  }
}

.header {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  padding: 16px 0;
  font-size: 20px;
}
